<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Shopme', 'none')" />
<body>
	<div class="container-fluid text-center">
		<div th:replace="navigation :: header_menu"></div>
		
		<div class="text-center">
				<h2>Customer Login</h2>
		</div>
		
		<div>&nbsp;</div>
			
		<form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">
			
			<div th:if="${param.error}">
					<p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
			</div>
			<div th:if="${param.logout}">
				<p class="text-danger">You have been logged out</p>
			</div>
			<div class="border border-secondary rounded p-3">
				<p>Access to Customer Panel</p>
				<p>
					<input type="email" name="email" class="form-control" placeholder="Your E-mail" required />
				</p>
				<p>
					<input type="password" name="password" class="form-control" placeholder="Your Password" required />
				</p>
				<p>
					<input type="checkbox" name="remember-me"/>&nbsp; Remember me
				</p>
				<p>
					<input type="submit" value="Login" class="btn btn-primary" />
				</p>
				
			</div>
		</form>
		
		<div th:replace="navigation :: footer_menu"></div>
		
	</div>

</body>
</html>